
body {
    background-color: #fdfdfd;
    font-family: 'Nobile', sans-serif;
}

h1 {
    padding-top: 5%;
    color:#6d6c6c;
}

h2 {
    margin-left: 15px;
    margin-top: 15%;
    letter-spacing: 7px;
    text-transform: uppercase;
}

/*Overlay for the background image
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.25); 
}*/


/*----------JUMBOTRON----------*/
#landing-view {
    background-attachment: fixed;
    background-image: url(../images/landingview2.jpg);
    background-size:cover;
    background-position: bottom;
    height:100vh;
    width:100vw;
    margin-bottom: 0px;
    z-index: 1;
    padding-left: 0px;
    padding-right: 0px;
}

.top {
    padding-left: 12px;
    margin-top: 12%;
}

.jumbotron {

    padding-top: 30px;
    padding-bottom: 30px;
    color: inherit;
    background-color: #eee;

}

.jumbotron, p {
    color:#6d6c6c;
}

/*----------NAVBAR----------*/

.navbar{

    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
    float: right;

}
.navbar, .container-navbar {
    
    text-align: right;
    margin-right: 1%;
    margin-top: 2%;
    
    }

 .navbar-header {
   
    border: 0px;
}

.navbar-light, .navbar-nav {
    color: #939292e6;
    border: 0px;
}





/**** Hamburger button animation *** Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
border: 0px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #6d6c6c;
}

.animated-icon2 span {
background: #4d4b4b;
}

.animated-icon3 span {
background: #9b9a9a;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}

/**** About section ****/


.about-row {
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
}

.about-row .about-p {
    font-size: .8em;
    margin: 40px 0px 40px 0px;
}

/**** Media ****/

 @media screen and (min-width: 992px) {
   #about-me {
    background-image: url(../images/about-me.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 50%;
    }
}