
body {
    background-color: #fdfdfd;
    font-family: 'Nobile', sans-serif;
}

h1 {
    padding-top: 5%;
    color:#6d6c6c;
}

h2 {
    margin-left: 15px;
    margin-top: 15%;
    letter-spacing: 7px;
    text-transform: uppercase;
}





/*----------JUMBOTRON----------*/
#landing-view {
    background-attachment: fixed;
    background-image: url(../images/landingview2.jpg);
    background-size:cover;
    height:100vh;
    width:100vw;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin:0px;

    
}


.top {
    padding-left: 12px;
    margin-top: 12%;
}

.jumbotron {

    padding-top: 30px;
    padding-bottom: 30px;
    color: inherit;
    background-color: #eee;

}

.jumbotron, p {
    color:#6d6c6c;
}

/*----------NAVBAR----------*/

.navbar{

    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
    float: right;

}
.navbar, .container-navbar {
    
    text-align: right;
    margin-right: 1%;
    margin-top: 2%;
    
    }

 .navbar-header {
   
    border: 0px;
}

.navbar-light, .navbar-nav {
    color: #939292e6;
    border: 0px;
}

.button-style:focus {
    outline: none; !important
}
 




/**** Hamburger button animation *** Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
width: 30px;
height: 20px;
position: relative;
border: 0px;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
 outline: none;
height: 3px;
width: 100%;
border-radius: 9px;
border: 0px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #6d6c6c;
}

.animated-icon2 span {
background: #4d4b4b;
}

.animated-icon3 span {
background: #9b9a9a;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}

/**** About-me  ****/


.about-row {
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
}

.about-row .about-p {
    font-size: .8em;
    margin: 40px 0px 40px 5px;
}

/**** Media ****/

 @media screen and (min-width: 992px) {
   #about-me {
    background-image: url(../images/about-me.jpg);
    background-position: left;
    background-size: cover;
    width: 100vw;
   
    }
}


/**** Work ****/

    .work-cards {
        margin-top: 10px;
    }

    .desktop-icon {

    padding: 20px 0;
    font-size: 34px;
    width: 54px;
    height: 54px;
    line-height: 18px;

    }
    .github-icon {

    padding: 20px 0;
    font-size: 34px;
    width: 54px;
    height: 54px;
    line-height: 18px;


    }

    .card-body .row {

    text-align: center;
    padding-top: 10px;
    align-content: center;
    }

    a {
    padding: 5px 15px 5px 10px;
    background-color: transparent;
    }

    .filter {
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
     filter: grayscale(100%);
     filter: gray; /* IE 6-9 */
     }


/**** Skills ****/
.skills {
    position: relative;
    top: 12%;
    padding-bottom: 96px;
    
}

.skill-column {
  
    display: inline-table;
    margin-bottom: 55px;
    padding-left: 6%;
}


.skill-column {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}


   

.overlay {
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.0); /* Black see-through */
  color: #f1f1f1;
  width: 100px;
  transition: .5s ease;
  opacity:0;
  color: #6d6c6c;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}


.skill-column:hover .overlay {
  opacity: 1;
}



#sql-style {
    padding-left: 15px;
    padding-left: 15px;
    padding-top: 5px;
}

/**** Contact ****/

#contact-head {
    margin: 30px -11px 25px 0px;
}

btn-default {
    background-color:#ccc;

}

#contact-form {
    
  background-image: url(../images/contact-form-grey.jpg)  ;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-bottom: 100px;
  padding-top: 42px;
  text-align: left;
  margin:0px;
  
  
}

/****Footer****/

footer {
    border-color: transparent;
    text-align: center;
}



.alignment, i{
    line-height: 2px;
}

i {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: #C3C3C3;
    color: #8F8F8F;
    width: 41px;
    height: 41px;
    padding: 20px 5px;
    border-radius: 20%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
}

i:hover {
    color: #564F6F;

}